html {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    /* max-width: 800px;
    min-width: 480px;
    margin: 0 auto; */
    background-image: url("../img/Zbackground1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }

  .jeux {
    display: block;
    margin-top: 17rem;
    margin-right: 10rem;
    margin-left: 5rem;

  }

/* .dude .run .eat {
  background-size: 150px;
  width: 30px;
  height: 30px;
  border: 2px solid;
} */